.grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  max-width: 60rem;
}

.grid > *:first-child {
  border-right: solid 1px rgba(var(--base), 0.5);
  padding-right: 2rem;
}

.grid > *:last-child {
  padding-left: 2rem;
}
