.btn {
  all: unset;
  position: relative;
  background-color: transparent;
  height: fit-content;
  width: fit-content;
  overflow: hidden;
  cursor: pointer;
}

.btnContent {
  position: relative;
  background-color: white;
  color: var(--text-primary-soft);
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 1.5rem 2rem;
  font-weight: 300;
  box-sizing: border-box;
}

.btnShadow {
  position: absolute;
  inset: -0px;
  opacity: 0.5;
  filter: blur(8px);
}

.animatingLine {
  opacity: 0.8;
  background-image: radial-gradient(#0cb100 35%, transparent 65%);
}
