/* Hide scrollbar for Chrome, Safari and Opera */
.hideScrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hideScrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.hideScrollbarChildren > * {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.hideScrollbarChildren > *::-webkit-scrollbar {
  display: none;
}

.HoverArrow {
  width: 40px;
  height: 20px;
  --arrowSpacing: 5px;
  --arrowHoverTransition: 150ms cubic-bezier(0.215, 0.61, 0.355, 1);
  --arrowHeadTransition: 150ms 100ms cubic-bezier(0.215, 0.61, 0.355, 1);
  --arrowHoverOffset: translateX(4px);
  --arrowTipTransform: none;
  --arrowLineOpacity: 0;
  position: relative;
  top: 1px;
  margin-left: var(--arrowSpacing);
  stroke-width: 1px;
  fill: none;
  stroke: currentColor;
}

.HoverArrow__linePath {
  opacity: var(--arrowLineOpacity);
  transition: opacity var(--hoverTransition, var(--arrowHoverTransition));
}

.HoverArrow__tipPath {
  transform: var(--arrowTipTransform);
  transition: transform var(--hoverTransition, var(--arrowHoverTransition));
}

@media (pointer: fine) {
  a:hover .HoverArrow__tipPath,
  button:hover .HoverArrow__tipPath {
    --arrowTipTransform: var(--arrowHoverOffset);
  }
}

@media (pointer: fine) {
  a:hover .HoverArrow__linePath,
  button:hover .HoverArrow__linePath {
    --arrowLineOpacity: 1;
  }
}
