.object {
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: rgba(var(--base-light), 0.2);
  padding: 0.5rem;
  margin: 0.75rem 0;
  border-radius: var(--border-radius);
  color: rgb(var(--base-light));
  cursor: pointer;
  position: relative;
}

.imgContainer {
  position: relative;
  width: 4rem;
  height: 4rem;
  border-radius: var(--border-radius);
  overflow: hidden;
  background-color: rgb(var(--base-dark));
  padding: 0.25rem;
  box-sizing: border-box;
}

.objectImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--border-radius);
}

.object p {
  font-size: 1.1rem;
  flex: 1;
}
