.spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.spinnerCircle {
  width: 40px;
  height: 40px;
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-top-color: rgb(var(--primary-mid));
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
