.container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
  height: 100%;
  position: relative;
}

.userList {
  flex: 1;
  overflow-y: scroll;
  width: 100%;
  padding: 0 1rem;
  box-sizing: border-box;
}

.userDisplay {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  padding: 0.5rem 1rem;
  border-radius: var(--border-radius-sm);
  border: solid 1px rgba(var(--base-x-light), 0.15);
  background-color: rgba(var(--base-x-dark), 0.2);
  margin-bottom: 1.5rem;
  color: rgb(var(--base-x-light));
  transition:
    background-color 0.3s,
    border-color 0.3s;
}

.userDisplay:hover {
  background-color: rgba(var(--base), 0.2);
  border-color: rgb(var(--primary-mid));
}

.userDisplay p {
  font-size: 1rem;
  font-weight: 300;
  text-overflow: ellipsis;
}

.addBtn {
  padding: 0.5rem 1rem;
  border-radius: var(--border-radius-sm);

  border: solid 1px rgba(var(--base-x-light), 0.15);
  color: rgb(var(--base-x-light));
  font-weight: 300;
  font-size: 0.9rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.addBtn:hover {
  background-color: rgba(var(--base-x-light), 0.15);
}

.userStatus {
  padding: 0.5rem 1rem;
  border-left: solid 1px rgba(var(--base-x-light), 0.2);
  font-weight: 300;
  font-size: 0.9rem;
}

.respondBtn {
  padding: 0.5rem 1rem;
  border-radius: var(--border-radius-sm);
  width: fit-content;
  border: solid 1px rgba(var(--base-x-light), 0.15);
  color: rgb(var(--base-x-light));
  font-weight: 300;
  font-size: 0.9rem;
  transition: border-color 0.3s;
  display: flex;
  align-items: center;
}

.respondBtn:has(.accept:hover) {
  border: solid 1px rgb(var(--green));
}

.respondBtn:has(.decline:hover) {
  border: solid 1px rgb(var(--red));
}

.accept {
  padding-right: 0.5rem;
  transition:
    border-color 0.3s,
    color 0.3s,
    font-weight 0.3s;
  border-right: solid 2px rgba(var(--base-x-light), 0.15);
  position: relative;
  left: 1px;
}

.accept:hover {
  border-right: solid 2px rgba(var(--green));
  color: rgb(var(--base-2x-light));
  font-weight: 500;
}

.decline {
  padding-left: 0.5rem;
  transition:
    border-color 0.3s,
    color 0.3s,
    font-weight 0.3s;
  position: relative;
  right: 1px;
  border-left: solid 2px rgba(var(--base-x-light), 0.15);
}

.decline:hover {
  border-left: solid 2px rgba(var(--red));
  color: rgb(var(--base-2x-light));
  font-weight: 500;
}
