.breadcrumbsContainer {
  width: fit-content;
}

.breadcrumbsContainer > nav {
  padding-right: 2.5rem;
}

.p {
  font-size: 0.9rem;
  font-weight: 500;
  color: rgb(var(--base));
  margin-top: 0.5rem;
}

.container {
  display: flex;
  justify-content: space-between;
}

.rightContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.settingsBtn {
  width: 3rem;
  color: rgb(var(--base-light));
  padding: 0.25rem;
  border-radius: var(--border-radius);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.2s;
}

.settingsBtn:hover {
  background-color: rgba(var(--base), 0.1);
}

.settingsBtn svg {
  stroke-width: 1.3px;
  cursor: pointer;
  width: 100%;
}

.notLiked svg {
  fill: none;
}

.liked svg {
  fill: rgb(var(--base-light));
}
